.x-navbar {
  position: fixed;
  top: 0;
  width: 4rem;
  height: 100vh;
  background: $background-3;

  .x-nav-logo {
    img {
      padding: 0 10px;
      height: 34px;
      width: auto;
    }
  }

  .x-nav-links {
    .x-n-links-group {
      border-radius: 8px;
      margin: 0 5px;
      display: block;
      padding: 3px 0;

      .x-n-link {
        padding: 6px 0;
        color: $icon-color;
        display: block;
        text-align: center;
        font-size: 2.1rem;
        transition: $transition-1;
        display: flex;

        &>* {
          margin: auto;
        }

        &:hover {
          color: $icon-color-active;
          transform: scale(1.09);
        }

        &.active {
          color: $icon-color-active;
        }

      }

      &.active {
        
        .x-n-link {
          padding: 9px 0;
        }

        .x-n-link:nth-child(1){
          padding-top: 6px;
        }

        .x-n-link:nth-last-child(1){
          padding-bottom: 6px;
        }

        background: $background;
      }
    }
  }

}
