.check-box {
  font-weight: 300;
  transition: $transition-button-1;
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  span{
    font-size: 16px;
    line-height: 1.2;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: $alt-background-alpha;
    border-radius: $button-radius;
    border: 1px solid #0000;
    transition: $transition-button-1;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  input:focus-visible~.checkmark{
    border: 1px solid $primary  !important;
  }

  input:checked~.checkmark {
    background-color: $primary;
  }

  input:checked~.checkmark:after {
    display: block;
  }

  .checkmark:after {
    left: 5px;
    top: 1px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

}