* {
  margin: 0;
  padding: 0;
  font-family: ubuntu;
  box-sizing: border-box;
}

body {
  background: rgb(26, 27, 30);
  color: rgb(255, 255, 255);
}

.main-app {
  display: inline-block;
  min-width: 100%;
}

.link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.link:hover {
  color: #0d6efd;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none !important;
}

.form > .btn {
  margin: 0;
}

.container-xxl,
.container-xl,
.container-lg,
.container-md, .container,
.container-sm {
  width: 100%;
  margin-right: auto !important;
  margin-left: auto !important;
  padding: 0.25rem;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .container-sm {
    max-width: 720px;
  }
  .container-md {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .container-sm {
    max-width: 960px;
  }
  .container-md {
    max-width: 960px;
  }
  .container-lg {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .container-sm {
    max-width: 1140px;
  }
  .container-md {
    max-width: 1140px;
  }
  .container-lg {
    max-width: 1140px;
  }
  .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .container-sm {
    max-width: 1320px;
  }
  .container-md {
    max-width: 1320px;
  }
  .container-lg {
    max-width: 1320px;
  }
  .container-xl {
    max-width: 1320px;
  }
  .container-xxl {
    max-width: 1320px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.col {
  width: 100%;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media (min-width: 576px) {
  .col-sm {
    width: 100%;
  }
  .col-sm-1 {
    width: 8.3333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md {
    width: 100%;
  }
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg {
    width: 100%;
  }
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    width: 100%;
  }
  .col-xl-1 {
    width: 8.3333333333%;
  }
  .col-xl-2 {
    width: 16.6666666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3333333333%;
  }
  .col-xl-5 {
    width: 41.6666666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333333333%;
  }
  .col-xl-8 {
    width: 66.6666666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333333333%;
  }
  .col-xl-11 {
    width: 91.6666666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .col-xxl {
    width: 100%;
  }
  .col-xxl-1 {
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    width: 100%;
  }
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.m-0 {
  margin: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ms-0 {
  margin-left: 0;
}

.me-0 {
  margin-right: 0;
}

.m-1 {
  margin: 0.25rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.ms-1 {
  margin-left: 0.25rem;
}

.me-1 {
  margin-right: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.ms-2 {
  margin-left: 0.5rem;
}

.me-2 {
  margin-right: 0.5rem;
}

.m-3 {
  margin: 1rem;
}

.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.ms-3 {
  margin-left: 1rem;
}

.me-3 {
  margin-right: 1rem;
}

.m-4 {
  margin: 1.5rem;
}

.mx-4 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.ms-4 {
  margin-left: 1.5rem;
}

.me-4 {
  margin-right: 1.5rem;
}

.m-5 {
  margin: 3rem;
}

.mx-5 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-5 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mt-5 {
  margin-top: 3rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.ms-5 {
  margin-left: 3rem;
}

.me-5 {
  margin-right: 3rem;
}

.m-6 {
  margin: 3.5rem;
}

.mx-6 {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.my-6 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.mt-6 {
  margin-top: 3.5rem;
}

.mb-6 {
  margin-bottom: 3.5rem;
}

.ms-6 {
  margin-left: 3.5rem;
}

.me-6 {
  margin-right: 3.5rem;
}

.m-7 {
  margin: 4rem;
}

.mx-7 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.my-7 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mt-7 {
  margin-top: 4rem;
}

.mb-7 {
  margin-bottom: 4rem;
}

.ms-7 {
  margin-left: 4rem;
}

.me-7 {
  margin-right: 4rem;
}

.m-8 {
  margin: 4.5rem;
}

.mx-8 {
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}

.my-8 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

.mt-8 {
  margin-top: 4.5rem;
}

.mb-8 {
  margin-bottom: 4.5rem;
}

.ms-8 {
  margin-left: 4.5rem;
}

.me-8 {
  margin-right: 4.5rem;
}

.m-l {
  margin: 8rem;
}

.mx-l {
  margin-left: 8rem;
  margin-right: 8rem;
}

.my-l {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.mt-l {
  margin-top: 8rem;
}

.mb-l {
  margin-bottom: 8rem;
}

.ms-l {
  margin-left: 8rem;
}

.me-l {
  margin-right: 8rem;
}

.p-0 {
  padding: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.p-1 {
  padding: 0.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p-3 {
  padding: 1rem;
}

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p-4 {
  padding: 1.5rem;
}

.px-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.p-5 {
  padding: 3rem;
}

.px-5 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.p-6 {
  padding: 3.5rem;
}

.px-6 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.py-6 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.p-7 {
  padding: 4rem;
}

.px-7 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-7 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.p-8 {
  padding: 4.5rem;
}

.px-8 {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.py-8 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.p-l {
  padding: 8rem;
}

.px-l {
  padding-left: 8rem;
  padding-right: 8rem;
}

.py-l {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.check-box {
  font-weight: 300;
  transition: 0.4s;
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.check-box span {
  font-size: 16px;
  line-height: 1.2;
}
.check-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.check-box .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: rgba(255, 255, 255, 0.075);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: 0.4s;
}
.check-box .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.check-box input:focus-visible ~ .checkmark {
  border: 1px solid #0d6efd !important;
}
.check-box input:checked ~ .checkmark {
  background-color: #0d6efd;
}
.check-box input:checked ~ .checkmark:after {
  display: block;
}
.check-box .checkmark:after {
  left: 5px;
  top: 1px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn {
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  margin: 0.25rem;
  display: inline-block;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
  outline: none;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 4px;
}
.btn:hover {
  transition: 0.4s !important;
  transform: translateY(0px);
}
.btn:active {
  transition: 0.4s;
  transform: translateY(-3px);
}
.btn:focus-visible {
  transition: 0.1s;
}

.btn-primary {
  background: #0d6efd;
}
.btn-primary:hover {
  background: #025bdf;
}
.btn-primary:active {
  background: #025bdf;
}
.btn-primary:focus-visible {
  outline: 3px solid rgba(13, 110, 253, 0.4);
}
.btn-primary[disabled] {
  cursor: default;
  opacity: 0.7;
}
.btn-primary[disabled]:hover {
  transform: none;
  background: #0d6efd;
}
.btn-primary[disabled]:active {
  transform: none;
  background: #0d6efd;
}
.btn-primary[disabled]:focus-visible {
  transition: none;
}

.btn-blue {
  background: #0d6efd;
}
.btn-blue:hover {
  background: #025bdf;
}
.btn-blue:active {
  background: #025bdf;
}
.btn-blue:focus-visible {
  outline: 3px solid rgba(13, 110, 253, 0.4);
}
.btn-blue[disabled] {
  cursor: default;
  opacity: 0.7;
}
.btn-blue[disabled]:hover {
  transform: none;
  background: #0d6efd;
}
.btn-blue[disabled]:active {
  transform: none;
  background: #0d6efd;
}
.btn-blue[disabled]:focus-visible {
  transition: none;
}

.btn-indigo {
  background: #6610f2;
}
.btn-indigo:hover {
  background: #550bce;
}
.btn-indigo:active {
  background: #550bce;
}
.btn-indigo:focus-visible {
  outline: 3px solid rgba(102, 16, 242, 0.4);
}
.btn-indigo[disabled] {
  cursor: default;
  opacity: 0.7;
}
.btn-indigo[disabled]:hover {
  transform: none;
  background: #6610f2;
}
.btn-indigo[disabled]:active {
  transform: none;
  background: #6610f2;
}
.btn-indigo[disabled]:focus-visible {
  transition: none;
}

.btn-purple {
  background: #6f42c1;
}
.btn-purple:hover {
  background: #5d36a4;
}
.btn-purple:active {
  background: #5d36a4;
}
.btn-purple:focus-visible {
  outline: 3px solid rgba(111, 66, 193, 0.4);
}
.btn-purple[disabled] {
  cursor: default;
  opacity: 0.7;
}
.btn-purple[disabled]:hover {
  transform: none;
  background: #6f42c1;
}
.btn-purple[disabled]:active {
  transform: none;
  background: #6f42c1;
}
.btn-purple[disabled]:focus-visible {
  transition: none;
}

.btn-pink {
  background: #d63384;
}
.btn-pink:hover {
  background: #bb2670;
}
.btn-pink:active {
  background: #bb2670;
}
.btn-pink:focus-visible {
  outline: 3px solid rgba(214, 51, 132, 0.4);
}
.btn-pink[disabled] {
  cursor: default;
  opacity: 0.7;
}
.btn-pink[disabled]:hover {
  transform: none;
  background: #d63384;
}
.btn-pink[disabled]:active {
  transform: none;
  background: #d63384;
}
.btn-pink[disabled]:focus-visible {
  transition: none;
}

.btn-red {
  background: #dc3545;
}
.btn-red:hover {
  background: #c62232;
}
.btn-red:active {
  background: #c62232;
}
.btn-red:focus-visible {
  outline: 3px solid rgba(220, 53, 69, 0.4);
}
.btn-red[disabled] {
  cursor: default;
  opacity: 0.7;
}
.btn-red[disabled]:hover {
  transform: none;
  background: #dc3545;
}
.btn-red[disabled]:active {
  transform: none;
  background: #dc3545;
}
.btn-red[disabled]:focus-visible {
  transition: none;
}

.btn-orange {
  background: #fd7e14;
}
.btn-orange:hover {
  background: #e66a02;
}
.btn-orange:active {
  background: #e66a02;
}
.btn-orange:focus-visible {
  outline: 3px solid rgba(253, 126, 20, 0.4);
}
.btn-orange[disabled] {
  cursor: default;
  opacity: 0.7;
}
.btn-orange[disabled]:hover {
  transform: none;
  background: #fd7e14;
}
.btn-orange[disabled]:active {
  transform: none;
  background: #fd7e14;
}
.btn-orange[disabled]:focus-visible {
  transition: none;
}

.btn-yellow {
  background: #f08c00;
}
.btn-yellow:hover {
  background: #c77400;
}
.btn-yellow:active {
  background: #c77400;
}
.btn-yellow:focus-visible {
  outline: 3px solid rgba(240, 140, 0, 0.4);
}
.btn-yellow[disabled] {
  cursor: default;
  opacity: 0.7;
}
.btn-yellow[disabled]:hover {
  transform: none;
  background: #f08c00;
}
.btn-yellow[disabled]:active {
  transform: none;
  background: #f08c00;
}
.btn-yellow[disabled]:focus-visible {
  transition: none;
}

.btn-green {
  background: #1fb83d;
}
.btn-green:hover {
  background: #199531;
}
.btn-green:active {
  background: #199531;
}
.btn-green:focus-visible {
  outline: 3px solid rgba(31, 184, 61, 0.4);
}
.btn-green[disabled] {
  cursor: default;
  opacity: 0.7;
}
.btn-green[disabled]:hover {
  transform: none;
  background: #1fb83d;
}
.btn-green[disabled]:active {
  transform: none;
  background: #1fb83d;
}
.btn-green[disabled]:focus-visible {
  transition: none;
}

.btn-teal {
  background: #099268;
}
.btn-teal:hover {
  background: #076c4d;
}
.btn-teal:active {
  background: #076c4d;
}
.btn-teal:focus-visible {
  outline: 3px solid rgba(9, 146, 104, 0.4);
}
.btn-teal[disabled] {
  cursor: default;
  opacity: 0.7;
}
.btn-teal[disabled]:hover {
  transform: none;
  background: #099268;
}
.btn-teal[disabled]:active {
  transform: none;
  background: #099268;
}
.btn-teal[disabled]:focus-visible {
  transition: none;
}

.btn-cyan {
  background: #0dcaf0;
}
.btn-cyan:hover {
  background: #0ba9c9;
}
.btn-cyan:active {
  background: #0ba9c9;
}
.btn-cyan:focus-visible {
  outline: 3px solid rgba(13, 202, 240, 0.4);
}
.btn-cyan[disabled] {
  cursor: default;
  opacity: 0.7;
}
.btn-cyan[disabled]:hover {
  transform: none;
  background: #0dcaf0;
}
.btn-cyan[disabled]:active {
  transform: none;
  background: #0dcaf0;
}
.btn-cyan[disabled]:focus-visible {
  transition: none;
}

.btn-alt {
  font-size: 16px;
  color: #000;
  background: rgb(255, 255, 255);
  padding: 8px 16px;
  margin: 0.25rem;
  display: inline-block;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
  outline: none;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 4px;
}
.btn-alt:hover {
  transition: 0.4s !important;
  transform: translateY(0px);
}
.btn-alt:active {
  transition: 0.4s !important;
  transform: translateY(-3px);
}
.btn-alt:focus-visible {
  transition: 0.1s;
  outline: 3px solid rgba(13, 110, 253, 0.5);
}

.btn-com {
  padding: 4px 8px;
  margin: 0.25rem;
}
.btn-com:hover {
  transform: translateY(0px) !important;
}
.btn-com:active {
  transform: translateY(-2px) !important;
}

.btn-def {
  color: rgb(255, 255, 255) !important;
  background: rgba(0, 0, 0, 0);
}
.btn-def:hover {
  background: rgba(255, 255, 255, 0.075) !important;
  transition: 0.4s !important;
  transform: translateY(0px);
}
.btn-def:active {
  transition: 0.4s !important;
  transform: translateY(-3px);
}
.btn-def:focus-visible {
  transition: 0.1s;
  outline: 3px solid rgba(13, 110, 253, 0.5);
}

.btn-dark {
  color: rgb(255, 255, 255) !important;
  background: rgba(0, 0, 0, 0);
}
.btn-dark:hover {
  background: rgb(22, 22, 22) !important;
  transition: 0.4s !important;
  transform: translateY(0px);
}
.btn-dark:active {
  transition: 0.4s !important;
  transform: translateY(-3px);
}
.btn-dark:focus-visible {
  transition: 0.1s;
  outline: 3px solid rgba(13, 110, 253, 0.5);
}

.input-box .input-input-box {
  position: relative;
}
.input-box input {
  width: 100%;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.075);
  padding: 8px 16px;
  display: inline-block;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
  outline: none;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 4px;
}
.input-box input:focus {
  border: 1px solid #0d6efd !important;
}
.input-box.input-error input {
  border: 1px solid #dc3545;
}
.input-box.input-error input:focus {
  border: 1px solid #dc3545 !important;
}
.input-box .input-error {
  display: block;
  margin: 5px 0;
  color: #dc3545;
  font-size: 0.9rem;
}

.input-box-alt {
  position: relative;
}
.input-box-alt .input-input-box {
  position: relative;
}
.input-box-alt .text {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 36px;
  color: rgb(144, 146, 150);
}
.input-box-alt input {
  width: 100%;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.075);
  padding: 8px 16px;
  padding-left: 32px;
  display: inline-block;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
  outline: none;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 4px;
}
.input-box-alt input:focus {
  border: 1px solid #0d6efd !important;
}
.input-box-alt.input-error .text {
  color: #dc3545;
}
.input-box-alt.input-error input {
  border: 1px solid #dc3545;
}
.input-box-alt.input-error input:focus {
  border: 1px solid #dc3545 !important;
}
.input-box-alt .input-error {
  display: block;
  margin: 5px 0;
  color: #dc3545;
  font-size: 0.9rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar .nav-logo {
  color: rgb(255, 255, 255);
  font-size: 2.2rem;
  font-weight: 300;
}
.navbar .nav-link {
  margin: auto 0;
}

.light-theme .navbar .nav-logo {
  color: #0d6efd;
}

.login-box {
  min-width: 300px;
  max-width: 350px;
}
.login-box .title {
  font-size: 1.8rem;
  font-weight: 200;
}
.login-box .form {
  position: relative;
  margin: 20px 0 !important;
}
.login-box .form > * {
  width: 100%;
  margin: 5px 0 !important;
}
.login-box .form > .inputs > * {
  width: 100%;
  margin: 15px 0 !important;
}
.login-box .overlay {
  box-sizing: unset;
  margin: 0 !important;
  top: 50%;
  left: 50%;
  position: absolute;
  background: rgba(255, 255, 255, 0.075);
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  z-index: 999;
  align-items: center;
}
.login-box .overlay div {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 440px) {
  .login-box {
    min-width: 100%;
  }
}
.loader {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  border: 4px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  border-top: 4px solid #0d6efd;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 0.75s linear infinite;
}

.loader-m {
  width: 75px;
  height: 75px;
}

.loader-l {
  width: 100px;
  height: 100px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.notify {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 420px;
  transition: 0.5s;
}
.notify .notify-con {
  margin: 15px;
  padding: 5px 8px;
  background-color: rgb(34, 34, 36);
  display: flex;
  border-radius: 4px;
  transition: 0.5s;
  animation: ease 0.5s notify-ani;
  transform: translateX(0%);
}
.notify .notify-con .notify-bar-primary {
  margin-right: 8px;
  border-radius: 4px;
  width: 4px;
  background: #0d6efd;
}
.notify .notify-con .notify-bar-blue {
  margin-right: 8px;
  border-radius: 4px;
  width: 4px;
  background: #0d6efd;
}
.notify .notify-con .notify-bar-indigo {
  margin-right: 8px;
  border-radius: 4px;
  width: 4px;
  background: #6610f2;
}
.notify .notify-con .notify-bar-purple {
  margin-right: 8px;
  border-radius: 4px;
  width: 4px;
  background: #6f42c1;
}
.notify .notify-con .notify-bar-pink {
  margin-right: 8px;
  border-radius: 4px;
  width: 4px;
  background: #d63384;
}
.notify .notify-con .notify-bar-red {
  margin-right: 8px;
  border-radius: 4px;
  width: 4px;
  background: #dc3545;
}
.notify .notify-con .notify-bar-orange {
  margin-right: 8px;
  border-radius: 4px;
  width: 4px;
  background: #fd7e14;
}
.notify .notify-con .notify-bar-yellow {
  margin-right: 8px;
  border-radius: 4px;
  width: 4px;
  background: #f08c00;
}
.notify .notify-con .notify-bar-green {
  margin-right: 8px;
  border-radius: 4px;
  width: 4px;
  background: #1fb83d;
}
.notify .notify-con .notify-bar-teal {
  margin-right: 8px;
  border-radius: 4px;
  width: 4px;
  background: #099268;
}
.notify .notify-con .notify-bar-cyan {
  margin-right: 8px;
  border-radius: 4px;
  width: 4px;
  background: #0dcaf0;
}
.notify .notify-con .notify-text {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.notify .notify-con .notify-title {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 2px;
  margin-bottom: 2px;
}
.notify .notify-con .notify-des {
  margin-top: 2px;
  margin-bottom: 5px;
  font-weight: 300;
}
.notify .notify-con .btn {
  margin: auto 0;
  height: 30px;
  width: 30px;
  padding: 3px 0 0 0;
  font-size: 1.4rem;
  text-align: center;
}
.notify .notify-con.notify-remove {
  animation: ease 0.5s notify-remove;
}

@media screen and (max-width: 440px) {
  .notify {
    width: 100%;
  }
}
@keyframes notify-ani {
  from {
    height: 0;
    transform: translateX(110%);
  }
  70% {
    transform: translateX(-10%);
  }
  to {
    height: 100%;
    transform: translateX(0%);
  }
}
@keyframes notify-remove {
  from {
    height: 0;
    transform: translateX(0%);
  }
  30% {
    transform: translateX(-10%);
  }
  to {
    height: 100%;
    transform: translateX(100%);
  }
}
.x-con {
  margin-left: 18rem;
  background: rgb(43, 43, 47);
  height: 100vh;
}

.x-head-box {
  font-size: 1.4rem;
  padding: 15px 0;
  height: 34px;
  box-sizing: unset;
  display: flex;
}
.x-head-box > * {
  margin: auto;
}

.x-navbar {
  position: fixed;
  top: 0;
  width: 4rem;
  height: 100vh;
  background: rgb(43, 43, 47);
}
.x-navbar .x-nav-logo img {
  padding: 0 10px;
  height: 34px;
  width: auto;
}
.x-navbar .x-nav-links .x-n-links-group {
  border-radius: 8px;
  margin: 0 5px;
  display: block;
  padding: 3px 0;
}
.x-navbar .x-nav-links .x-n-links-group .x-n-link {
  padding: 6px 0;
  color: rgba(255, 255, 255, 0.35);
  display: block;
  text-align: center;
  font-size: 2.1rem;
  transition: 0.15s;
  display: flex;
}
.x-navbar .x-nav-links .x-n-links-group .x-n-link > * {
  margin: auto;
}
.x-navbar .x-nav-links .x-n-links-group .x-n-link:hover {
  color: rgba(255, 255, 255, 0.9);
}
.x-navbar .x-nav-links .x-n-links-group .x-n-link.active {
  color: rgba(255, 255, 255, 0.9);
}
.x-navbar .x-nav-links .x-n-links-group.active {
  background: rgb(26, 27, 30);
}
.x-navbar .x-nav-links .x-n-links-group.active .x-n-link {
  padding: 9px 0;
}
.x-navbar .x-nav-links .x-n-links-group.active .x-n-link:nth-child(1) {
  padding-top: 6px;
}
.x-navbar .x-nav-links .x-n-links-group.active .x-n-link:nth-last-child(1) {
  padding-bottom: 6px;
}

.x-sidebar {
  position: fixed;
  left: 4rem;
  top: 0;
  width: 14rem;
  height: 100vh;
  background: rgb(57, 58, 61);
  padding: 0 10px;
}
.x-sidebar .x-head-box {
  padding-left: 12px;
  padding-right: 12px;
}
.x-sidebar .x-head-box * {
  margin: auto 0;
}
.x-sidebar .x-sb-sub-title {
  margin: 9px 0;
  padding-left: 12px;
  padding-right: 12px;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 300;
}
.x-sidebar .x-link-group > .x-sb-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  margin: 6px 0;
  padding: 8px 12px;
  font-size: 0.9rem;
  transition: 0.15s;
  border-radius: 4px;
  display: flex;
}
.x-sidebar .x-link-group > .x-sb-link > * {
  margin: auto 0;
}
.x-sidebar .x-link-group > .x-sb-link .icon {
  font-size: 1rem;
  margin-right: 10px;
}
.x-sidebar .x-link-group > .x-sb-link:hover {
  background: rgba(26, 27, 30, 0.3);
}
.x-sidebar .x-link-group > .x-sb-link.active {
  color: #fff;
  background: rgb(34, 34, 36);
}
.x-sidebar .x-link-group > .x-sb-link.active .icon {
  color: #9ceafa;
}

.header {
  border-bottom: 1px solid rgb(57, 58, 61);
}
.header .search-box {
  display: flex;
  justify-content: space-between;
}
.header .search-box * {
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
